{% extends 'base.html' %}
{% load static %}
{% block title %}{{ book.title }}{% endblock %}
{% block corecss %}
{{ block.super }}   
<style>
    body {
        background-color: rgb(158, 85, 45);
    }
    .card {
        border-radius: 12px;
        box-shadow: 0 6px 20px rgba(0,0,0,0.06);
        border: 1px solid #0c0c0c;
    }
</style>
{% endblock %}

{% block content %}
<div class="card p-4">
    <h2>{{ book.title }}</h2>
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Subject:</strong> {{ book.subject }}</p>
    <p><strong>Description:</strong> {{ book.description|safe }}</p>
    


    {% if book.file %}
    <a href="{{ book.file.url }}" class="btn btn-success" target="_blank">Download Book</a>
    {% endif %}


    <a href="{% url 'book_list' %}" class="btn btn-success ms-2">Back</a>
</div>
{% endblock %}