{% extends 'base.html' %}
{% load static %}
{% block title %}Subscriptions{% endblock %}


{% block corecss %}
{{ block.super }}
<style>
    body {
        background: url('/media/subscription1.jpeg') no-repeat center center fixed;
        background-size: cover;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }

    .hero-overlay {
        background: rgba(0, 0, 0, 0.65);
        border-radius: 1rem;
    }

    .card {
        transition: transform .2s ease, box-shadow .2s ease;
        margin-bottom: 1rem;
        font-weight: 500;
    }

    
</style>
{% endblock %}


{% block page_header %}
<div class="container my-4 col-md-8 col-lg-6 hero-overlay p-4 text-center text-white">
    <div class="row">
        <div class=" col text-center ">
            <h1 class="fw-bold">Choose Your Subscription</h1>
            <p class="text-white">
                 purchase a subscription to get discounts on consultation packages
            </p>
        </div>
    </div>
</div>
<hr>
<hr>
{% endblock %}


{% block content %}

<div class="row">

    <!-- No Subscription -->
    <div class="col-md-4">
        <div class="card p-4 h-100 {% if current_plan == 'none' %}border-success{% endif %}">
            <h3>No Subscription</h3>
            <p>No discount on consultation packages.</p>
            <h4 class="my-3">£0</h4>

            {% if current_plan == 'none' %}
                <button class="btn btn-success" disabled>Active</button>
            {% else %}
                <a href="{% url 'subscriptions:checkout' 'none' %}" class="btn btn-outline-primary">Select</a>
            {% endif %}
        </div>
    </div>

    <!-- Basic Subscription -->
    <div class="col-md-4">
        <div class="card p-4 h-100 {% if current_plan == 'basic' %}border-success{% endif %}">
            <h3>Basic Subscription</h3>
            <p><strong>30% discount</strong> on consultation packages.</p>
            <h4 class="my-3">£29 / month</h4>

            {% if current_plan == 'basic' %}
                <a href="{% url 'subscriptions:renew' 'basic' %}" class="btn btn-warning">Renew</a>
            {% else %}
                <a href="{% url 'subscriptions:checkout' 'basic' %}" class="btn btn-primary">Buy</a>
            {% endif %}
        </div>
    </div>

    <!-- Full Subscription -->
    <div class="col-md-4">
        <div class="card p-4 h-100 {% if current_plan == 'full' %}border-success{% endif %}">
            <h3>Full Subscription</h3>
            <p><strong>50% discount</strong> on consultation packages.</p>
            <h4 class="my-3">£59 / month</h4>

            {% if current_plan == 'full' %}
                <a href="{% url 'subscriptions:renew' 'full' %}" class="btn btn-warning">Renew</a>
            {% else %}
                <a href="{% url 'subscriptions:checkout' 'full' %}" class="btn btn-primary">Buy</a>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}
