{% extends 'base.html' %}
{% load static %}
{% block title %}Search Lawyer{% endblock %}

{% block corecss %}
{{ block.super }}
<style>
    body {
       background-color: rgb(189, 100, 52);
    
    }
</style>
{% endblock %}

{% block content %}

<h1 class="mb-4">Find a Lawyer</h1>


<form method="GET" action="{% url 'search_lawyer' %}" class="row g-3 mb-4">
    <div class="col-md-4">
        <input type="text" name="q" class="form-control" placeholder="Search by name or keyword">
    </div>


    <div class="col-md-3">
        <select name="type" class="form-select">
            <option value="">All Types</option>
            <option value="solicitor">Solicitor</option>
            <option value="advocate">Advocate</option>
        </select>
    </div>


    <div class="col-md-3">
        <select name="specialty" class="form-select">
            <option value=""> Specialty Of Work </option>
            <option value="contracts">Contracts</option>
            <option value="deeds">Deeds & Property</option>
            <option value="family">Family</option>
            <option value="commercial">Commercial</option>
            <option value="criminal">Criminal</option>
           
        </select>
    </div>

    
    <div class="col-md-2">
        <select name="court_level" class="form-select">
            <option value="">Court Level</option>
            <option value="magistrate">Magistrate Court</option>
            <option value="high">High Court</option>
            <option value="appeal">Appeal Court</option>
        </select>
    </div>

    <div class="w-100">
        <!-- Line break to ensure proper spacing -->
    </div>

    <div class="row justify-content-center">
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100">Search</button>
    </div>
    </div>

</form>
{% endblock %}