{% extends 'base.html' %}
{% load static %}
{% block title %}Payment Successful{% endblock %}

{% block corecss %}
{{ block.super }}
<style>
    body {
        background-color: rgba(146, 203, 86, 0.84);
    }
</style>
{% endblock %}


{% block content %}
<div class="alert alert-success">
<h3>Payment Successful</h3>
{% if payment.payment_type == 'consultation_package' %}
    <p>Thank you {{payment.full_name}} for your payment. A confirmation 
        E-mail will be sent to {{ payment.email }}.</p>
    <p>Your consultation package with {{ payment.package.lawyer.get_full_name }} is now active.</p>
{% elif payment.payment_type == 'subscription' %}
    <p>Your subscription plan "{{ payment.subscription_plan }}" is now active.</p>
{% endif %}

</div>


<div class="card p-4">
{% if payment.payment_type == 'subscription' %}
    <p><strong>Subscription Plan:</strong> {{ payment.subscription_plan|capfirst }}</p>
{% elif payment.payment_type == 'consultation_package' %}
<p><strong>Package:</strong> {{ payment.package.title }}</p>
{% endif %}
<p><strong>Amount Paid:</strong> £{{ payment.final_amount }}</p>
<p><strong>Status:</strong> {{ payment.get_status_display }}</p>
</div>


<a href="{% url 'package_list' %}" class="btn btn-primary mt-3">Back to Packages</a>
<a href="{% url 'payments:history' %}" class="btn btn-outline-dark mt-3">Payment History</a>

{% if payment.payment_type == 'package' %}
    <a href="{% url 'reviews:package_add' payment.package.id %}"
       class="btn btn-outline-success mt-3">
        Leave a Review
    </a>
{% endif %}

{% endblock %}