body {
    background: url('/media/subscription1.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.hero-overlay {
    background: rgba(0, 0, 0, 0.65);
    border-radius: 1rem;
}

.card {
    transition: transform .2s ease, box-shadow .2s ease;
    margin-bottom: 1rem;
    font-weight: 500;
}